body {
  font-family: monospace;
  padding-top: 3em;
  color: #333;
}

@media only screen and (min-width: 768px) {
  body {
    /* padding: 0 20vw; */
    max-width: 768px;
    font-size: 16px;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
}

.list-social-icons {
  font-family: sans-serif;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: yellow;
}

#sideNav .navbar-nav .nav-item .nav-link, #sideNav a  {
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.img-profile, #qr-code {
  max-width: 5rem;
  max-height: 5rem;
  /* border: 0.5rem solid rgba(255, 255, 255, 0.2); */
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  animation: fade-in 1s;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.bg-primary {
  background-color: yellow !important;
}

.text-primary {
  color: black !important;
}

a {
  color: darkgreen;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 1px;
}

img {
  max-width:80%;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
.hidden {
  opacity: 0;
}
